.calculator-display {
  background-color: black;
  color: white;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  width: 440px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 5rem;
  margin-left: 20px;
}

p {
  margin-right: 10px;
}
